# PORT=8787
# SARVAM_API_KEY=sk_kp2s2rd0_2w2qVqF76DtZJuEQi2H5BQeF
# SARVAM_CHAT_MODEL=sarvam-30b
# SARVAM_STT_MODEL=saaras:v3
# SARVAM_TTS_MODEL=bulbul:v3
# DEFAULT_TTS_PROVIDER=parler
# PARLER_TTS_URL=http://127.0.0.1:8011
# ALLOW_CORS=true


PORT=8787
SARVAM_API_KEY=your_sarvam_api_key_here
SARVAM_LLM_MODEL=sarvam-m
SARVAM_STT_MODEL=saaras:v3
SARVAM_TTS_MODEL=bulbul:v3
DEFAULT_TTS_PROVIDER=sarvam
PARLER_TTS_URL=
ALLOW_CORS=true